.new-tweet {
  padding-top: 2em;
  padding-bottom: 2em;
  padding-right: 1em;
}
.new-tweet textarea {
  background: transparent;
  border: none;
  border-bottom: 5px solid rgb(75, 49, 146);
  width: 100%;
  font-weight: bold;
  color: rgb(75, 49, 146);
}
.new-tweet input {
  font-family: "Bungee", sans-serif;
  color: #FFFFFF;
  background-color: rgb(75, 49, 146);
  float: left; 
}

.counter {
  font-family: "Bungee", sans-serif;
  float: right;
  color: rgb(75, 49, 146);
}

.alert-container {
  display: none;
  border: solid 7.5px red;
  margin-top: 2em; 
  font: bold;
}

.alert-container img {
  height: 50px;
  text-align: center;
}

.error-message {
  font-family: "Bungee", sans-serif;
}